body{
    display:flex;
    justify-content: center;
    min-height:100vh;
    background-image:linear-gradient(to right ,skyblue,pink);
}
.container{
    background-color:white;
    padding:20px;
    max-width:600px;
    width:90%;
    border-radius:10px;
}
.input{
    background-color: whitesmoke;
    width:90%;
    margin:10px;
    padding:10px;
    border:none;
}
.gender-container{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}
.branch-dob{
    margin-bottom:20px;
    display:flex;
}
.branch-container{
    margin-right:20px;
}
.address-container{
    display:flex;
    margin-bottom:20px;
}
.sign-up-button{
    margin-top:20px;
    padding:10px;
    background-color: darkcyan;
    border:none;

}
.error{
    color:red;
}
.color-container{
    margin-bottom:20px;
}
.color{
    width:90%;
}